/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
} 

/* --- layout --- */

#main-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Components */

.game {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.game__header {
  display: flex;
  justify-content: space-between;
}

.game__canvas {
  width: 80%;
  height: 80%;
  border: 3px solid black;
  margin: auto;
}

canvas {
  border: 2px solid black;
  background-image: url('../go\ go\ godzilla!/images/background-fui.jpg');
  background-size: 100%;
  background-position: bottom center;
}